.about-us {
  background-color: $dark-blue;
  color: $white;
  padding: 32px 0 60px 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  z-index: 10;

  @media (min-width: $tablet) {
    padding-top: 98px;
    padding-bottom: 88px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $desktop) {
    padding-top: 192px;
    padding-bottom: 163px;
    margin-top: -60px;
  }

  &::after {
    width: 320px;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 5;
    background: url("../img/about-mobile@1x.png") no-repeat left 15px center, url("../img/rectangle-bg-blue.svg") no-repeat left -30px top -11px;
    background-size: contain, 143px 143px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/about-mobile@2x.png"), url("../img/rectangle-bg-blue.svg");
    }

    @media (min-width: $tablet) {
      width: 768px;
      background: url("../img/about-tablet@1x.png") no-repeat right 7px bottom 88px, url("../img/rectangle-bg-big-blue.svg") no-repeat left 40px top 53px;
      background-size: 376px 548px, 688px 213px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/about-tablet@2x.png"), url("../img/rectangle-bg-big-blue.svg");
      }
    }

    @media (min-width: $desktop) {
      width: 1440px;
      background: url("../img/about-desktop@1x.png") no-repeat right 55px bottom, url("../img/rectangle-bg-blue.svg") no-repeat left 60px top 131px;
      background-size: 638px 665px, 213px 213px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/about-desktop@2x.png"), url("../img/rectangle-bg-blue.svg");
      }
    }
  }
}

.about-us__content-wrapper {
  padding: 0 25px;
  padding-right: 25px;
  max-width: 260px;
  position: relative;
  z-index: 100;

  @media (min-width: $tablet) {
    padding-left: 35px;
    max-width: 360px;
  }

  @media (min-width: $desktop) {
    padding-left: 70px;
    max-width: 710px;
  }
}

.about-us__bold-text {
  max-width: 475px;
}

.about-us__button {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    width: 275px;
  }
}
