.add-plan {
  padding-top: 28px;
  padding-bottom: 62px;
  background-color: $dark-violet;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-top: -15px;

  @media (min-width: $tablet) {
    padding-top: 45px;
    padding-bottom: 71px;
  }

  @media (min-width: $desktop) {
    padding-top: 48px;
    padding-bottom: 86px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    margin-top: -60px;
  }
}

.add-plan__common-wrapper {
  @media (min-width: $tablet) {
    padding: 0 35px;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.add-plan__heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;

  @media (min-width: $tablet) {
    margin-bottom: 51px;
  }

  @media (min-width: $desktop) {
    padding-left: 70px;
  }
}

.add-plan__heading {
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.39;
    letter-spacing: normal;
  }
}

.add-plan__dots-indicators {
  display: flex;
  padding-right: 20px;

  @media (min-width: $tablet) {
    padding-right: 0;
    margin-bottom: 3px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.add-plan__dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgba($dot-grey, 0.3);
  margin-right: 15px;

  @media (min-width: $tablet) {
    margin-right: 29px;
  }

  &:last-child {
    margin-right: 0;
  }

  &--active {
    background-color: $twilight-blue;
  }
}

.add-plan__step {
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 44px;
  }
}

.add-plan__step.plan-step--small-padding {
  @media (min-width: $tablet) {
    margin-bottom: 50px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 45px;
  }
}
