.add-profile {
  padding-top: 37px;
  padding-bottom: 39px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    z-index: 100;
    background-color: $light-violet;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $tablet) {
    padding-top: 73px;
    padding-bottom: 48px;

    &::after {
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 107px;
    padding-bottom: 163px;
  }
}

.add-profile__common-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.add-profile__heading-wrapper {
  max-width: 50%;
  margin-bottom: 29px;
  padding: 13px 0 0 25px;

  @media (min-width: $tablet) {
    max-width: 100%;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 82px;
  }
}

.add-profile__heading {
  line-height: 1;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.add-profile__image-block {
  width: 99px;
  height: 99px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/rates@1x.png");
  margin-left: auto;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/rates@2x.png");
  }

  @media (min-width: $tablet) {
    order: 10;
    z-index: 1000;
    margin-right: 45px;
    margin-top: -18px;
  }

  @media (min-width: $desktop) {
    width: 198px;
    height: 198px;
    margin-top: -234px;
    margin-right: 75px;
  }
}

.add-profile__options-wrapper {
  width: 100%;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    padding-right: 185px;
  }
}

.add-profile__options-list {
  @include list-style-reset();
  margin: 0;
  padding: 0 50px 0 25px;

  @media (min-width: $tablet) {
    padding-left: 92px;
    padding-right: 34px;
    padding-top: 44px;
    padding-bottom: 35px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      width: 198px;
      height: 100%;
      border-radius: 20px;
      background-color: $intense-violet;
      z-index: -1;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 52px;
    padding-bottom: 35px;

    &::after {
      width: 444px;
    }
  }
}

.add-profile__options-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 12px 0 9px 0;
  line-height: 1.38;
  border-bottom: 1px solid rgba($black, 0.05);
  position: relative;

  &::before {
    content: attr(data-number);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -48px;
    top: 3px;
    width: 34px;
    height: 34px;
    padding-top: 3px;
    border-radius: 50%;
    background-color: $orange-yellow;
    font-size: 16px;
    font-weight: normal;
    line-height: 0.88;
    color: $white;
  }

  &:first-child {
    border-top: 1px solid rgba($black, 0.05);
  }

  &:first-child::before {
    background-color: $orange-lighter;
  }

  &:last-child::before {
    background-color: $accent-yellow;
  }

  @media (min-width: $tablet) {
    line-height: 1.18;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0 16px 0;

    &::before {
      right: auto;
      top: -2px;
      left: -92px;
      width: 67px;
      height: 67px;
      font-size: 28px;
      line-height: 1;
    }
  }
}

.add-profile__button-wrapper {
  padding: 0 25px;

  @media (min-width: $tablet) {
    padding: 0;
    height: 67px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop) {
    padding-left: 70px;
  }
}

.add-profile__business-link {
  font-size: 16px;
  font-weight: bold;
  line-height: 100%;
  align-self: center;
  align-items: center;
  color: $dark-blue;

  &:hover,
  &:focus {
    color: rgba(19, 37, 118, 0.7);
  }

  &:active {
    color: rgba(19, 37, 118, 0.3);
  }

  @media (min-width: $tablet) {
    display: flex;
    height: 100%;
    font-size: 20px;
    color: $business-blue;
    padding-left: 89px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 67px;
      height: 67px;
      background-color: $intense-violet;
      border-radius: 50%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 17px;
      height: 21px;
      top: 22px;
      left: 25px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url("../img/business.svg");
    }

    &:hover::after,
    &:focus::after {
      opacity: 0.7;
    }

    &:active::after {
      opacity: 0.3;
    }
  }
}

.add-profile__business-popup {
  position: fixed;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  z-index: 1000;
}
