.business-popup {
  display: none;
  padding-top: 33px;
  margin: 0 auto;
  background-color: white;
  width: 270px;
  border-radius: 20px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
  overflow: hidden;

  &--active {
    display: block;
    animation: modal-appearance 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @media (min-width: $tablet) {
    width: 688px;
    padding-top: 52px;
    border-radius: 30px;
  }

  @media (min-width: $desktop) {
    width: 750px;
    padding-top: 52px;
    border-radius: 30px;
  }
}

.business-popup__heading {
  text-align: center;
  margin-bottom: 26px;

  @media (min-width: $tablet) {
    margin-bottom: 42px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 49px;
  }
}

.business-popup__list {
  @include list-style-reset();
  padding: 0 25px;
  margin-top: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    padding: 0 92px;
    margin-bottom: 53px;
  }

  @media (min-width: $desktop) {
    padding: 0 60px;
  }
}

.business-popup__item {
  padding: 12px 0 9px 0;
  border-bottom: 1px solid rgba($black, 0.05);

  &:first-child {
    border-top: 1px solid rgba($black, 0.05);
  }

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    padding: 14px 0 13px 0;
    border-top: 1px solid rgba($black, 0.05);
    border-bottom: none;
  }

  &:last-child {
    border-bottom: 1px solid rgba($black, 0.05);
  }
}

.business-popup__service {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  margin: 0;
  color: $greyish-brown;

  @media (min-width: $tablet) {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.27;
  }
}

.business-popup__price {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  margin: 0;
  color: $greyish-brown;

  @media (min-width: $tablet) {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.27;
  }
}

.business-popup__close-button {
  display: block;
  padding: 0;
  padding-top: 3px;
  width: 100%;
  height: 59px;
  border: none;
  background-color: $tender-violet;
  color: $twilight-blue;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: $light-violet;
  }

  &:active {
    color: rgba($twilight-blue, 0.3);
  }

  @media (min-width: $tablet) {
    font-size: 24px;
    text-transform: none;
    line-height: 1;
    height: 108px;
  }

  @media (min-width: $desktop) {
    padding-top: 0;
  }
}
