.button {
  display: flex;
  padding: 20px;
  color: $deep-dark-blue;
  background-color: $accent-yellow;
  font-size: 18px;
  line-height: 1;
  align-items: center;
  border-radius: 10px;
  font-weight: bold;

  &--rounded {
    border-radius: 25px;
    text-transform: uppercase;
    justify-content: center;
    padding: 10px 10px 7px;
    font-size: 17px;
    line-height: 1.76;

    @media (min-width: $tablet) {
      font-size: 20px;
    }
  }

  &--squared {
    border-radius: 10px;
    text-align: left;
    font-weight: bold;
    position: relative;
    padding: 24px 24px 21px 24px;

    &::after {
      content: "";
      position: absolute;
      top: 23px;
      right: 15px;
      border: 8px solid transparent;
      border-left: 10px solid $twilight-blue;
    }

    @media (min-width: $tablet) {
      border-radius: 20px;
      font-size: 24px;
      line-height: 1;
      padding: 30px 30px 27px 35px;

      &::after {
        top: 33px;
        right: 29px;
      }
    }
  }

  &--bordered {
    border: 3px solid $dark-blue;
  }

  &--promo {
    padding: 7px 39px 3px 39px;
  }

  &--white {
    background-color: $white;
  }

  &--registration {
    font-size: 0;
    width: 60px;
    height: 58px;
    padding: 24px 23px 24px 27px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10px 14px;
    background-image: url("../../img/triangle-arrow-right.svg");
  }

  &--violet {
    background-color: $violet;
    padding: 10px 0;
  }

  &--no-bg {
    background: transparent;
  }
}
