.calendar {
  display: block;
}

.calendar__title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 11px 0;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    padding: 26px 17px 19px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop) {
    padding: 26px 0 20px;
    margin-bottom: 0;
  }
}

.calendar__control {
  border: none;
  padding: 0;
  width: 9px;
  height: 17px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.3;

  &--prev {
    background-image: url("../img/month-arrow-left.svg");
  }

  &--next {
    background-image: url("../img/month-arrow-right.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }

  @media (min-width: $tablet) {
    width: 19px;
    height: 34px;
  }
}

.calendar__title {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: $twilight-blue;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: normal;
  }
}

.calendar__table {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
}

.calendar__table-body {
  border: 1px solid $light-grey;
}

.calendar__day-of-week {
  padding: 8px 5px 8px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: $greyish-brown;
  box-sizing: border-box;

  &--weekend {
    color: $coral-red;
  }

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 1.8px;
    padding: 0;
    padding-bottom: 1px;
  }

  @media (min-width: $desktop) {
    text-align: left;
    padding: 12px 16px 13px 16px;
  }
}

.calendar__day-second-letter {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
  }
}

.calendar__table-row {
  border-bottom: 1px solid $light-grey;

  &:last-child {
    border-bottom: none;
  }
}

.calendar__table-cell {
  width: 30px;
  height: 31px;
  box-sizing: border-box;
  border-right: 1px solid $light-grey;

  &:nth-child(7n) {
    border-right: none;
  }

  @media (min-width: $tablet) {
    width: 70px;
    height: 69px;
  }

  @media (min-width: $desktop) {
    width: 143px;
    height: 71px;
    position: relative;
  }
}

.calendar__day-number {
  display: flex;
  font-size: 14px;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: $light-violet;
  color: $greyish-brown;
  position: relative;
  cursor: pointer;

  @media (min-width: $tablet) {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop) {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 13px 13px;
    font-weight: normal;
  }

  &:hover {
    background-color: $twilight-blue;
    color: $white;
  }

  &:hover::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 32px;
    left: -1px;
    top: -1px;
    border: 2px solid $coral-red;

    @media (min-width: $tablet) {
      left: -2px;
      top: -2px;
      width: 80px;
      height: 72px;
      border: 4px solid $coral-red;
      z-index: 1000;
    }

    @media (min-width: $desktop) {
      width: 146px;
      height: 74px;
    }
  }

  &--arrival::before,
  &--departure::before {
    @media (min-width: $desktop) {
      color: $white;
      font-size: 18px;
      font-weight: normal;
      line-height: 1.67;
      letter-spacing: 1.8px;
      position: absolute;
      top: 33px;
      left: 15px;
    }
  }

  &--arrival::before {
    @media (min-width: $desktop) {
      content: "Заезд";
    }
  }

  &--departure::before {
    @media (min-width: $desktop) {
      content: "Выезд";
    }
  }
}

.calendar__first-month-day {
  display: none;

  @media (min-width: $desktop) {
    display: flex;
  }
}

.calendar__table-cell input:disabled + .calendar__day-number {
  background-color: transparent;
  color: rgba($greyish-brown, 0.3);
  cursor: default;
}

.calendar__table-cell input:disabled + .calendar__day-number:hover::after {
  display: none;
}

.calendar__table-cell input:checked + .calendar__day-number {
  background-color: $tooltip-blue;
  color: $white;
  position: relative;

  &:hover::after,
  &:focus::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 32px;
    left: -1px;
    top: -1px;
    border: 2px solid $coral-red;
    z-index: 1000;

    @media (min-width: $tablet) {
      left: -2px;
      top: -2px;
      width: 80px;
      height: 72px;
      border: 4px solid $coral-red;
    }

    @media (min-width: $desktop) {
      width: 146px;
      height: 74px;
    }
  }
}

.calendar__table-cell input:focus + .calendar__day-number {
  &::after {
    content: "";
    position: absolute;
    width: 33px;
    height: 32px;
    left: -1px;
    top: -1px;
    border: 2px solid $coral-red;
    z-index: 1000;

    @media (min-width: $tablet) {
      left: -2px;
      top: -2px;
      width: 80px;
      height: 72px;
      border: 4px solid $coral-red;
    }

    @media (min-width: $desktop) {
      width: 146px;
      height: 74px;
    }
  }
}
