.chose-country {
  display: none;
  flex-direction: column;
  background-color: $white;
  width: 100%;
  z-index: 900;
  box-shadow: 0 20px 50px 0 rgba($dark-blue, 0.1);
  border: solid 1px $light-grey;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  &--active {
    display: flex;
  }

  @media (min-width: $tablet) {
    width: 575px;
    border: none;
  }

  @media (min-width: $desktop) {
    width: 731px;
  }
}

.chose-country__inner-content-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 33px;
    padding-left: 27px;
    padding-bottom: 96px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 206px;
      height: 100%;
      width: 1px;
      background-color: rgba($inputs-grey, 0.5);
    }
  }

  @media (min-width: $desktop) {
    &::before {
      right: 240px;
    }
  }
}

.chose-country__letters-list {
  @include list-style-reset();
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    border: 1px solid $light-grey;
    border-bottom: none;
    width: 263px;
  }

  @media (min-width: $desktop) {
    border: none;
    width: 360px;
  }
}

.chose-country__letters-list-item {
  width: 20%;
  height: 41px;
  border-right: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  &:nth-child(5n) {
    border-right: none;
  }

  @media (min-width: $tablet) {
    width: 52px;
    height: 69px;
  }

  @media (min-width: $desktop) {
    width: 60px;
    height: 70px;
    margin-right: 15px;
    margin-bottom: 15px;
    border: none;


    &:nth-child(5n) {
      margin-right: 0;
    }
  }
}

.chose-country__letter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $white;
  color: $twilight-blue;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  padding-top: 4px;
  cursor: pointer;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 0.9;
  }

  @media (min-width: $desktop) {
    border: 1px solid $light-grey;
    border-radius: 4px;

    &:hover {
      border-color: $step-hover-violet;
    }
  }
}

.chose-country__all-countries {
  @include list-style-reset();
  margin: 0;
  flex-grow: 1;

  @media (min-width: $tablet) {
    width: 206px;
    flex-grow: 0;
  }

  @media (min-width: $desktop) {
    width: 240px;
  }
}

.chose-country__all-countries-item {
  margin-bottom: 0;
}

.chose-country__countries-list {
  @include list-style-reset();
  margin: 0;
  display: none;
  padding-top: 56px;
  padding-left: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 25px;
    width: 206px;
  }
}

.chose-country__countries-list-item {
  display: flex;
}

.chose-country__country-link {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  color: $greyish-brown;

  &:hover,
  &:focus {
    color: $twilight-blue;
  }

  &:active {
    color: rgba($twilight-blue, 0.3);
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.chose-country__letter-toggler--1:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-1"],
.chose-country__letter-toggler--2:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-2"],
.chose-country__letter-toggler--3:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-3"],
.chose-country__letter-toggler--4:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-4"],
.chose-country__letter-toggler--5:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-5"],
.chose-country__letter-toggler--6:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-6"],
.chose-country__letter-toggler--7:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-7"],
.chose-country__letter-toggler--8:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-8"],
.chose-country__letter-toggler--9:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-9"],
.chose-country__letter-toggler--10:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-10"],
.chose-country__letter-toggler--11:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-11"],
.chose-country__letter-toggler--12:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-12"],
.chose-country__letter-toggler--13:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-13"],
.chose-country__letter-toggler--14:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-14"],
.chose-country__letter-toggler--15:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-15"],
.chose-country__letter-toggler--16:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-16"],
.chose-country__letter-toggler--17:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-17"],
.chose-country__letter-toggler--18:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-18"],
.chose-country__letter-toggler--19:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-19"],
.chose-country__letter-toggler--20:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-20"],
.chose-country__letter-toggler--21:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-21"],
.chose-country__letter-toggler--22:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-22"],
.chose-country__letter-toggler--23:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-23"],
.chose-country__letter-toggler--24:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-24"],
.chose-country__letter-toggler--25:checked ~ .chose-country__letters-list .chose-country__letter-button[for="country-letter-25"] {
  background-color: $light-violet;

  @media (min-width: $tablet) {
    background-color: $twilight-blue;
    border-color: $twilight-blue;
    color: $white;
  }
}

.chose-country__letter-toggler--1:checked ~ .chose-country__all-countries .chose-country__countries-list--1,
.chose-country__letter-toggler--2:checked ~ .chose-country__all-countries .chose-country__countries-list--2,
.chose-country__letter-toggler--3:checked ~ .chose-country__all-countries .chose-country__countries-list--3,
.chose-country__letter-toggler--4:checked ~ .chose-country__all-countries .chose-country__countries-list--4,
.chose-country__letter-toggler--5:checked ~ .chose-country__all-countries .chose-country__countries-list--5,
.chose-country__letter-toggler--6:checked ~ .chose-country__all-countries .chose-country__countries-list--6,
.chose-country__letter-toggler--7:checked ~ .chose-country__all-countries .chose-country__countries-list--7,
.chose-country__letter-toggler--8:checked ~ .chose-country__all-countries .chose-country__countries-list--8,
.chose-country__letter-toggler--9:checked ~ .chose-country__all-countries .chose-country__countries-list--9,
.chose-country__letter-toggler--10:checked ~ .chose-country__all-countries .chose-country__countries-list--10,
.chose-country__letter-toggler--11:checked ~ .chose-country__all-countries .chose-country__countries-list--11,
.chose-country__letter-toggler--12:checked ~ .chose-country__all-countries .chose-country__countries-list--12,
.chose-country__letter-toggler--13:checked ~ .chose-country__all-countries .chose-country__countries-list--13,
.chose-country__letter-toggler--14:checked ~ .chose-country__all-countries .chose-country__countries-list--14,
.chose-country__letter-toggler--15:checked ~ .chose-country__all-countries .chose-country__countries-list--15,
.chose-country__letter-toggler--16:checked ~ .chose-country__all-countries .chose-country__countries-list--16,
.chose-country__letter-toggler--17:checked ~ .chose-country__all-countries .chose-country__countries-list--17,
.chose-country__letter-toggler--18:checked ~ .chose-country__all-countries .chose-country__countries-list--18,
.chose-country__letter-toggler--19:checked ~ .chose-country__all-countries .chose-country__countries-list--19,
.chose-country__letter-toggler--20:checked ~ .chose-country__all-countries .chose-country__countries-list--20,
.chose-country__letter-toggler--21:checked ~ .chose-country__all-countries .chose-country__countries-list--21,
.chose-country__letter-toggler--22:checked ~ .chose-country__all-countries .chose-country__countries-list--22,
.chose-country__letter-toggler--23:checked ~ .chose-country__all-countries .chose-country__countries-list--23,
.chose-country__letter-toggler--24:checked ~ .chose-country__all-countries .chose-country__countries-list--24,
.chose-country__letter-toggler--25:checked ~ .chose-country__all-countries .chose-country__countries-list--25 {
  display: block;
}
