.contact-button {
  display: flex;
  flex-shrink: 0;
  font-size: 0;
  width: 40px;
  height: 40px;
  min-height: 40px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;

  &--telephone {
    background-color: $orange;
    background-image: url("../img/topmenu-phone.svg");
    background-size: 18px 18px;

    &:hover,
    &:focus {
      background-color: $orange-intense;
    }
  }

  &--email {
    background-color: $orange-yellow;
    background-image: url("../img/topmenu-mail.svg");
    background-size: 18px 14px;

    &:hover,
    &:focus {
      background-color: $orange;
    }
  }
}
