.contact-url {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.38;
  font-weight: bold;
  color: $dark-blue;
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.7;

    @media (min-width: $desktop) {
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;

    @media (min-width: $desktop) {
      opacity: 1;
    }
  }

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 1;
  }

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    background-color: $black-blue;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;

    @media (min-width: $tablet) {
      width: 67px;
      height: 67px;
      background-size: 27px 27px;
    }

    @media (min-width: $desktop) {
      width: 90px;
      height: 90px;
      background-size: 36px 36px;
    }
  }

  &--telephone::before {
    background-image: url("../img/contacts-phone.svg");
  }

  &--email::before {
    background-image: url("../img/contacts-mail.svg");
  }

  &--yellow-text {
    color: $accent-yellow;
  }

  &--header::before {
    @media (min-width: $desktop) {
      width: 50px;
      height: 50px;
      background-size: 18px 18px;
    }
  }
}

.contact-url__text {
  padding-left: 17px;

  @media (min-width: $tablet) {
    padding-left: 23px;
  }

  @media (min-width: $desktop) {
    padding-left: 35px;
  }
}

.contact-url--header.contact-url--telephone::before {
  @media (min-width: $desktop) {
    background-color: $orange;
    background-image: url("../img/topmenu-phone.svg");
  }
}

.contact-url--header.contact-url--telephone:hover::before,
.contact-url--header.contact-url--telephone:focus::before {
  @media (min-width: $desktop) {
    background-color: $orange-intense;
  }
}

.contact-url--header.contact-url--email::before {
  @media (min-width: $desktop) {
    background-color: $orange-yellow;
    background-image: url("../img/topmenu-mail.svg");
  }
}

.contact-url--header.contact-url--email:hover::before,
.contact-url--header.contact-url--email:focus::before {
  @media (min-width: $desktop) {
    background-color: $orange;
  }
}

.contact-url__content {
  padding-left: 15px;

  @media (min-width: $tablet) {
    padding-left: 27px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
