.contact-info {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.38;
  font-weight: bold;
  color: $accent-yellow;
  text-transform: uppercase;
  position: relative;

  &:hover,
  &:focus {
    color: $orange-yellow;

    svg {
      fill: $orange-yellow;
    }
  }

  &:active {
    color: rgba(255, 189, 48, 0.3);

    svg {
      opacity: 0.3;
    }
  }

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 1;
  }

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    background-color: $black-blue;
    border-radius: 50%;

    @media (min-width: $tablet) {
      width: 67px;
      height: 67px;
    }

    @media (min-width: $desktop) {
      width: 90px;
      height: 90px;
    }
  }
}

.contact-info__icon {
  position: absolute;
  fill: $accent-yellow;

  &--phone {
    top: 14px;
    left: 14px;
  }

  &--mail {
    top: 16px;
    left: 14px;
  }

  @media (min-width: $tablet) {
    &--phone {
      width: 27px;
      height: 27px;
      top: 19px;
      left: 20px;
    }

    &--mail {
      width: 27px;
      height: 19px;
      top: 23px;
      left: 20px;
    }
  }

  @media (min-width: $desktop) {
    &--phone {
      width: 36px;
      height: 36px;
      top: 28px;
      left: 28px;
    }

    &--mail {
      width: 36px;
      height: 26px;
      top: 31px;
      left: 28px;
    }
  }
}

.contact-info__text {
  margin-left: 17px;

  @media (min-width: $tablet) {
    margin-left: 23px;
  }

  @media (min-width: $desktop) {
    margin-left: 35px;
  }
}
