.contact-url {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 1.38;
  font-weight: bold;
  color: $dark-blue;
  text-transform: uppercase;
  position: relative;

  &:hover,
  &:focus {
    opacity: 0.7;

    @media (min-width: $desktop) {
      opacity: 1;
    }
  }

  &:active {
    opacity: 0.3;

    @media (min-width: $desktop) {
      opacity: 1;
    }
  }

  &::before {
    content: "";
    width: 45px;
    height: 45px;
    background-color: $black-blue;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;

    @media (min-width: $tablet) {
      width: 67px;
      height: 67px;
      background-size: 27px 27px;
    }

    @media (min-width: $desktop) {
      width: 50px;
      height: 50px;
    }
  }

  &::after {
    @media (min-width: $desktop) {
      content: "";
      position: absolute;
      width: 18px;
      height: 18px;
      top: 16px;
      left: 17px;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  &:active::after {
    @media (min-width: $desktop) {
      opacity: 0.3;
    }
  }

  &--telephone::before {
    background-image: url("../img/contacts-phone.svg");

    @media (min-width: $desktop) {
      background-color: $orange;
      background-image: none;
    }
  }

  &--telephone:hover::before,
  &--telephone:focus::before {
    @media (min-width: $desktop) {
      background-color: $orange-intense;
    }
  }

  &--telephone::after {
    @media (min-width: $desktop) {
      background-image: url("../img/topmenu-phone.svg");
    }
  }

  &--email::before {
    background-image: url("../img/contacts-mail.svg");

    @media (min-width: $desktop) {
      background-color: $orange-yellow;
      background-image: none;
    }
  }

  &--email::after {
    @media (min-width: $desktop) {
      background-image: url("../img/topmenu-mail.svg");
    }
  }

  &--email:hover::before,
  &--email:focus::before {
    @media (min-width: $desktop) {
      background-color: $orange;
    }
  }
}

.contact-url__content {
  padding-left: 15px;

  @media (min-width: $tablet) {
    padding-left: 27px;
    font-size: 28px;
    line-height: 1;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}
