.container {
  width: 320px;
  padding: 0 25px;
  margin: 0 auto;
  position: relative;
  z-index: 110;

  @media (min-width: $tablet) {
    width: 768px;
    padding: 0 40px;
  }

  @media (min-width: $desktop) {
    width: 1440px;
    padding: 0 60px;
  }

  &--promo {
    background: url("../img/traveller-illustration-mobile@1x.png") no-repeat
      right 50px top 130px;
    background-size: 192px 255px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/traveller-illustration-mobile@2x.png");
    }

    @media (min-width: $tablet) {
      background: url("../img/traveller-illustration-tablet@1x.png") no-repeat right 112px bottom 280px;
      background-size: 372px 451px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/traveller-illustration-tablet@2x.png");
      }
    }

    @media (min-width: $desktop) {
      background: none;
    }
  }

  &--filter {
    @media (min-width: $desktop) {
      max-width: 285px;
      margin: 0;
    }
  }

  &--catalog {
    z-index: 10;
  }
}
