.country-flag {
  width: 35px;
  height: 24px;
  border-radius: 6.4px;
  background-color: transparent;
  font-size: 0;
  z-index: 20;
  position: relative;

  &--big {
    @media (min-width: $tablet) {
      width: 70px;
      height: 47px;
    }
  }

  &--directions {
    position: absolute;
  }

  &::before,
  &::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }

  &::before {
    bottom: -72px;
    border-radius: 4px;
    background-color: $tooltip-blue;
    padding: 19px 28px 18px 24px;
    color: $white;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    white-space: nowrap;
  }

  &::after {
    bottom: -12px;
    border: 8px solid transparent;
    border-bottom-color: $tooltip-blue;
  }

  &:hover::before,
  &:hover::after {
    display: block;
  }
}

.country-flag__picture {
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}
