.country-select {
  display: flex;
  width: 168px;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  color: $twilight-blue;
  border: 1px solid $light-grey;
  border-radius: 4px;
  padding: 12px 12px 10px;
  background-color: transparent;

  &--choose {
    width: 100%;
  }

  &--add {
    width: 100%;
    background-color: $light-violet;
    border: none;
    padding: 12px 12px 11px;
  }
}
