.directions {
  padding-top: 71px;
  padding-bottom: 30px;
  position: relative;
  z-index: 10;

  &::before {
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 5;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 31px;
    z-index: 100;
    background-color: $light-violet;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $tablet) {
    padding-top: 73px;
    padding-bottom: 80px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    &::before {
      width: 768px;
      background: url("../img/flags-back@1x.png") no-repeat right 40px top 80px, url("../img/rectangle-bg-violet.svg") no-repeat left 40px top 406px;
      background-size: 289px 575px, 141px 141px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/flags-back@2x.png"), url("../img/rectangle-bg-violet.svg");
      }
    }

    &::after {
      height: 61px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  @media (min-width: $desktop) {
    padding-top: 161px;
    padding-bottom: 138px;

    &::before {
      width: 1440px;
      background: url("../img/flags-back@1x.png") no-repeat right 60px top 88px, url("../img/rectangle-bg-violet.svg") no-repeat left 60px top 89px;
      background-size: 289px 575px, 141px 141px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/flags-back@2x.png"), url("../img/rectangle-bg-violet.svg");
      }
    }
  }
}

.directions__common-wrapper {
  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
  }
}

.directions__content-wrapper {
  padding: 0 25px;
  padding-right: 50px;
  margin-bottom: 60px;

  @media (min-width: $tablet) {
    padding: 0 35px;
    padding-right: 310px;
    margin-bottom: 105px;
  }

  @media (min-width: $desktop) {
    order: 1;
    width: 50%;
    padding: 5px 176px 81px 140px;
    margin-bottom: 0;
  }
}

.directions__heading {
  @media (min-width: $tablet) {
    margin-bottom: 57px;
  }
}

.directions__item-wrapper {
  margin-bottom: 25px;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 81px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, #edeff6, transparent);
    z-index: 10;
  }

  @media (min-width: $tablet) {
    padding: 0 35px;
    margin-bottom: 47px;
  }

  @media (min-width: $desktop) {
    order: 0;
    width: 50%;
    padding-left: 70px;
    padding-right: 30px;
    margin-bottom: 0;
  }
}

.directions__item {
  margin-bottom: 10px;
  position: relative;
  z-index: 5;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    overflow: hidden;
  }
}

.directions__button-wrapper {
  @media (min-width: $tablet) {
    padding: 0 35px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    width: 274px;
    order: 2;
    margin-left: 803px;
    margin-top: -70px;
  }
}
