.directions-card {
  border-radius: 10px;
  background-color: transparent;
}

.directions-card__link-wrapper {
  display: block;

  .directions-card__picture {
    transition: transform 0.3s ease-in-out;
  }

  &:hover,
  &:focus {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);

    .directions-card__picture {
      transform: scale(1.05);
      transition: transform 0.3s ease-in-out;
    }
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row-reverse;
    border-radius: 20px;
  }
}

.directions-card__image {
  display: block;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: transparent;
  position: relative;
  z-index: -1;

  @media (min-width: $tablet) {
    border-top-left-radius: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.directions-card__picture {
  display: block;

  @media (min-width: $tablet) {
    max-width: 186px;
    height: auto;
  }
}

.directions-card__content-wrapper {
  position: relative;
  z-index: 100;
  border-radius: 10px;
  padding: 27px 24px 23px;
  margin-top: -10px;
  background-color: $white;

  @media (min-width: $tablet) {
    padding: 30px 30px 15px;
    margin-top: 0;
    flex-grow: 1;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  @media (min-width: $desktop) {
    padding: 24px 30px 15px;
    flex-grow: 1;
  }
}

.directions-card__flag {
  position: absolute;
  top: -12px;
  left: 25px;

  @media (min-width: $tablet) {
    top: 16px;
    left: auto;
    right: -35px;
  }

  @media (min-width: $desktop) {
    top: 23px;
  }
}

.directions-card__info-wrapper {
  display: flex;
  align-items: flex-basis;
  justify-content: space-between;

  @media (min-width: $tablet) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.directions-card__title-wrapper {
  @media (min-width: $tablet) {
    margin-bottom: 14px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 19px;
  }
}

.directions-card__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 1;
  color: $deep-dark-blue;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 24px;
    margin-bottom: 3px;
  }
}

.directions-card__description {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  color: rgba($greyish-brown, 0.3);

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.directions-card__users {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.3;
  text-align: right;
  color: rgba($greyish-brown, 0.3);
  padding-left: 18px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 0;
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/user.svg");
    opacity: 0.1;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.5;
    padding-left: 32px;

    &::before {
      width: 21px;
      height: 20px;
    }
  }
}
