.filter {
  background-color: $intense-violet;
  padding: 48px 0 12px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  z-index: 100;

  @media (min-width: $tablet) {
    padding-top: 120px;
    padding-bottom: 53px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    top: -60px;
  }

  @media (min-width: $desktop) {
    padding-top: 117px;
    padding-bottom: 52px;
    position: static;
    margin-top: -60px;
  }
}

.filter__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  @media (min-width: $tablet) {
    padding-left: 32px;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop) {
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;
  }
}

.filter__title {
  display: flex;
  margin: 0;
  font-weight: bold;
  font-style: normal;
  line-height: 1.38;
  color: $dark-blue;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 27px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 15px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: 15px 10px;
    background-position: center;
    background-image: url("../img/filter.svg");

    @media (min-width: $tablet) {
      display: none;
    }

    @media (min-width: $desktop) {
      display: block;
      width: 23px;
      height: 15px;
      background-size: contain;
    }
  }

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
    padding-left: 45px;
    font-size: 20px;
    margin-right: 30px;
  }
}

.filter__title-dots {
  display: none;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: inline;
  }
}

.filter__region-list {
  @include list-style-reset();
  display: none;
  width: 100%;
  padding-top: 29px;
  padding-bottom: 18px;
  margin: 0;
  flex-direction: column;
  order: 1;
  padding-left: 27px;

  &--active {
    display: flex;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin: 0;
    order: 0;
  }

  @media (min-width: $desktop) {
    width: auto;
    flex-wrap: wrap;
  }
}

.filter__region-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    margin-right: 28px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.filter__region-link {
  font-size: 16px;
  font-weight: bold;
  color: rgba($dark-blue, 0.3);
  line-height: 1.38;
  letter-spacing: normal;
  text-transform: uppercase;

  &:hover:not(&--active),
  &:focus:not(&--active) {
    color: rgba($dark-blue, 0.6);
  }

  &:active {
    color: $dark-blue;
  }

  &--active {
    color: $dark-blue;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.filter__toggler-wrapper {
  @media (min-width: $tablet) {
    padding-right: 35px;
  }

  @media (min-width: $desktop) {
    margin-left: auto;
    padding-right: 65px;
  }
}

.filter__toggler {
  display: flex;
  border: none;
  background: transparent;
  width: 23px;
  height: 23px;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;

  &--open {
    background-size: 17px 3px;
    background-image: url("../img/dots.svg");
    background-position: center;
  }

  &--close {
    background-size: 12px 12px;
    background-image: url("../img/filter-close.svg");
    background-position: center top 3px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    width: 175px;
    height: 100%;
    align-items: center;

    &--open {
      background-position: right center;
      background-size: 27px 5px;

      .filter__toggler-text--open {
        display: inline;
      }

      .filter__toggler-text--close {
        display: none;
      }
    }

    &--close {
      background-position: right center;
      background-size: 19px 19px;

      .filter__toggler-text--open {
        display: none;
      }

      .filter__toggler-text--close {
        display: inline;
      }
    }
  }
}

.filter__toggler-text {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: $dark-blue;
    text-transform: uppercase;
  }
}

.filter__inner {
  display: none;
  flex-direction: column;

  &--active {
    display: flex;
    z-index: 800;
  }
}

.filter__inner-content-wrapper {
  padding: 0 27px;

  @media (min-width: $tablet) {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 35px;
  }

  @media (min-width: $desktop) {
    justify-content: space-between;
  }
}

.filter__letters-list {
  @include list-style-reset();
  margin-top: 0;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  border-top: 1px solid $light-grey;
  border-left: 1px solid $light-grey;

  @media (min-width: $tablet) {
    margin-bottom: 22px;
    border: none;
    padding-top: 78px;
    width: 390px;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.filter__letters-list-item {
  width: 20%;
  height: 41px;
  border-right: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;

  @media (min-width: $tablet) {
    border: none;
    width: 78px;
    margin-bottom: 42px;
  }
}

.filter__letter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $white;
  color: $twilight-blue;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  padding-top: 4px;
  cursor: pointer;

  @media (min-width: $tablet) {
    padding: 0;
    background-color: transparent;
    font-size: 60px;
    font-weight: bold;
    line-height: 0.4;
    color: rgba($twilight-blue, 0.2);
    align-items: flex-start;
    justify-content: flex-start;
  }
}

.filter__all-countries {
  @include list-style-reset();
  margin: 0;

  @media (min-width: $tablet) {
    padding-top: 56px;
    padding-left: 52px;
    padding-bottom: 56px;
    width: 210px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    padding-right: 0;
    padding-top: 90px;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.filter__all-countries-item {
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 73px;
    width: 252px;

    &:nth-child(5n) {
      width: 205px;
    }
  }
}

.filter__countries-list {
  @include list-style-reset();
  margin: 0;
  display: none;

  @media (min-width: $desktop) {
    display: block;
  }
}

.filter__countries-list-item {
  display: flex;
}

.filter__country-letter {
  display: none;

  @media (min-width: $desktop) {
    display: block;
    margin-top: 0;
    margin-bottom: 46px;
    font-size: 60px;
    font-weight: bold;
    line-height: 0.4;
    color: $dark-blue;
  }
}

.filter__country-link {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  color: $greyish-brown;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.5;
  }
}

.filter__inner-button-wrapper {
  @media (min-width: $tablet) {
    padding: 0 35px;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop) {
    padding: 0;
    margin-top: -9px;
    margin-bottom: 0;
  }
}

.filter__inner-button-close {
  background-color: $intense-dark-violet;
  width: 100%;
  margin-bottom: 12px;
  border: none;

  @media (min-width: $tablet) {
    border-radius: 20px;
    height: 100px;
  }
}

.filter__inner-button-cross {
  padding-left: 24px;
  position: relative;

  @media (min-width: $tablet) {
    padding-left: 39px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 0;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/filter-close.svg");

    @media (min-width: $tablet) {
      width: 19px;
      height: 19px;
      top: 6px;
    }
  }
}

.filter__inner-button-close:active .filter__inner-button-cross::before {
  opacity: 0.3;
}

.filter__letter-toggler--1:checked ~ .filter__letters-list .filter__letter-button[for="letter-1"],
.filter__letter-toggler--2:checked ~ .filter__letters-list .filter__letter-button[for="letter-2"],
.filter__letter-toggler--3:checked ~ .filter__letters-list .filter__letter-button[for="letter-3"],
.filter__letter-toggler--4:checked ~ .filter__letters-list .filter__letter-button[for="letter-4"],
.filter__letter-toggler--5:checked ~ .filter__letters-list .filter__letter-button[for="letter-5"],
.filter__letter-toggler--6:checked ~ .filter__letters-list .filter__letter-button[for="letter-6"],
.filter__letter-toggler--7:checked ~ .filter__letters-list .filter__letter-button[for="letter-7"],
.filter__letter-toggler--8:checked ~ .filter__letters-list .filter__letter-button[for="letter-8"],
.filter__letter-toggler--9:checked ~ .filter__letters-list .filter__letter-button[for="letter-9"],
.filter__letter-toggler--10:checked ~ .filter__letters-list .filter__letter-button[for="letter-10"],
.filter__letter-toggler--11:checked ~ .filter__letters-list .filter__letter-button[for="letter-11"],
.filter__letter-toggler--12:checked ~ .filter__letters-list .filter__letter-button[for="letter-12"],
.filter__letter-toggler--13:checked ~ .filter__letters-list .filter__letter-button[for="letter-13"],
.filter__letter-toggler--14:checked ~ .filter__letters-list .filter__letter-button[for="letter-14"],
.filter__letter-toggler--15:checked ~ .filter__letters-list .filter__letter-button[for="letter-15"],
.filter__letter-toggler--16:checked ~ .filter__letters-list .filter__letter-button[for="letter-16"],
.filter__letter-toggler--17:checked ~ .filter__letters-list .filter__letter-button[for="letter-17"],
.filter__letter-toggler--18:checked ~ .filter__letters-list .filter__letter-button[for="letter-18"],
.filter__letter-toggler--19:checked ~ .filter__letters-list .filter__letter-button[for="letter-19"],
.filter__letter-toggler--20:checked ~ .filter__letters-list .filter__letter-button[for="letter-20"],
.filter__letter-toggler--21:checked ~ .filter__letters-list .filter__letter-button[for="letter-21"],
.filter__letter-toggler--22:checked ~ .filter__letters-list .filter__letter-button[for="letter-22"],
.filter__letter-toggler--23:checked ~ .filter__letters-list .filter__letter-button[for="letter-23"],
.filter__letter-toggler--24:checked ~ .filter__letters-list .filter__letter-button[for="letter-24"],
.filter__letter-toggler--25:checked ~ .filter__letters-list .filter__letter-button[for="letter-25"] {
  background-color: $twilight-blue;
  color: $white;

  @media (min-width: $tablet) {
    background-color: transparent;
    color: $twilight-blue;
  }
}

.filter__letter-toggler--1:checked ~ .filter__all-countries .filter__countries-list--1,
.filter__letter-toggler--2:checked ~ .filter__all-countries .filter__countries-list--2,
.filter__letter-toggler--3:checked ~ .filter__all-countries .filter__countries-list--3,
.filter__letter-toggler--4:checked ~ .filter__all-countries .filter__countries-list--4,
.filter__letter-toggler--5:checked ~ .filter__all-countries .filter__countries-list--5,
.filter__letter-toggler--6:checked ~ .filter__all-countries .filter__countries-list--6,
.filter__letter-toggler--7:checked ~ .filter__all-countries .filter__countries-list--7,
.filter__letter-toggler--8:checked ~ .filter__all-countries .filter__countries-list--8,
.filter__letter-toggler--9:checked ~ .filter__all-countries .filter__countries-list--9,
.filter__letter-toggler--10:checked ~ .filter__all-countries .filter__countries-list--10,
.filter__letter-toggler--11:checked ~ .filter__all-countries .filter__countries-list--11,
.filter__letter-toggler--12:checked ~ .filter__all-countries .filter__countries-list--12,
.filter__letter-toggler--13:checked ~ .filter__all-countries .filter__countries-list--13,
.filter__letter-toggler--14:checked ~ .filter__all-countries .filter__countries-list--14,
.filter__letter-toggler--15:checked ~ .filter__all-countries .filter__countries-list--15,
.filter__letter-toggler--16:checked ~ .filter__all-countries .filter__countries-list--16,
.filter__letter-toggler--17:checked ~ .filter__all-countries .filter__countries-list--17,
.filter__letter-toggler--18:checked ~ .filter__all-countries .filter__countries-list--18,
.filter__letter-toggler--19:checked ~ .filter__all-countries .filter__countries-list--19,
.filter__letter-toggler--20:checked ~ .filter__all-countries .filter__countries-list--20,
.filter__letter-toggler--21:checked ~ .filter__all-countries .filter__countries-list--21,
.filter__letter-toggler--22:checked ~ .filter__all-countries .filter__countries-list--22,
.filter__letter-toggler--23:checked ~ .filter__all-countries .filter__countries-list--23,
.filter__letter-toggler--24:checked ~ .filter__all-countries .filter__countries-list--24,
.filter__letter-toggler--25:checked ~ .filter__all-countries .filter__countries-list--25 {
  display: block;
}
