.filter {
  background-color: $intense-violet;
  padding: 15px 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: $tablet) {
    padding-top: 119px;
    padding-bottom: 55px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    margin-top: -60px;
  }

  @media (min-width: $desktop) {
    padding-top: 117px;
    padding-bottom: 52px;
  }
}

.filter__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;

  @media (min-width: $tablet) {
    padding-left: 32px;
    flex-wrap: nowrap;
  }

  @media (min-width: $desktop) {
    padding-left: 20px;
    justify-content: flex-start;
  }
}

.filter__title {
  display: flex;
  margin: 0;
  font-weight: bold;
  font-style: normal;
  line-height: 1.38;
  color: $dark-blue;
  text-transform: uppercase;
  font-size: 16px;
  padding-left: 27px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 0;
    width: 15px;
    height: 10px;
    background-color: $dark-blue;

    @media (min-width: $tablet) {
      display: none;
    }
  }

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: flex;
    align-items: center;
    padding-left: 45px;
    font-size: 20px;
    margin-right: 30px;
  }
}

.filter__title-dots {
  display: none;

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: inline;
  }
}

.filter__region-list {
  @include list-style-reset();
  display: none;
  margin-top: 31px;
  margin-bottom: 25px;
  flex-direction: column;
  order: 1;
  padding-left: 27px;

  &--active {
    display: flex;
  }

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin: 0;
    order: 0;
  }
}

.filter__region-list-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet) {
    margin-right: 28px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.filter__region-link {
  font-size: 16px;
  font-weight: bold;
  color: rgba($dark-blue, 0.3);
  line-height: 1.38;
  letter-spacing: normal;
  text-transform: uppercase;

  &--active {
    color: $dark-blue;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.filter__toggler-wrapper {
  @media (min-width: $tablet) {
    padding-right: 35px;
  }

  @media (min-width: $desktop) {
    margin-left: auto;
    padding-right: 65px;
  }
}

.filter__toggler {
  display: flex;
  border: none;
  background: transparent;
  width: 23px;
  height: 23px;
  padding: 0;
  outline: 1px solid red;

  @media (min-width: $tablet) {
    width: 175px;
    height: 100%;
    align-items: center;

    &--open {
      .filter__toggler-text--open {
        display: inline;
      }

      .filter__toggler-text--close {
        display: none;
      }
    }

    &--close {
      .filter__toggler-text--open {
        display: none;
      }

      .filter__toggler-text--close {
        display: inline;
      }
    }
  }
}

.filter__toggler-text {
  display: none;

  @media (min-width: $tablet) {
    display: inline;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    color: $dark-blue;
    text-transform: uppercase;
  }
}

.filter__inner {
  display: none;
  flex-direction: column;

  &--active {
    display: flex;
  }
}

.filter__inner-content-wrapper {
  padding: 0 27px;
}

.filter__letters-list {
  @include list-style-reset();
  margin-top: 0;
  margin-bottom: 67px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid $light-grey;
}

.filter__letters-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 42px;
}

.filter__inner-button-close {
  background-color: $intense-dark-violet;
}
