.heading {
  margin-top: 0;

  &--h1 {
    color: $white;
    font-size: 36px;
  }

  &--h2 {
    color: $orange;
    font-size: 24px;
    font-weight: bold;
  }

  &--centered {
    text-align: center;
  }

  &--underline {
    padding-bottom: 10px;
    position: relative;
    display: inline-flex;
    margin-bottom: 0;
  }

  &--underline::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 2.4px;
    background-color: $orange;
  }

  &--blue {
    color: $twilight-blue;
  }
}
