.heading {
  &--h1 {
    margin: 0;
    color: $white;
    font-size: 36px;
  }

  &--h2 {
    color: $orange;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }

  &--centered {
    text-align: center;
  }
}
