.heading {
  margin-top: 0;

  &--h1 {
    color: $white;
    font-size: 36px;
    line-height: 1.11;

    @media (min-width: $tablet) {
      font-size: 60px;
      font-weight: bold;
      line-height: 1.17;
    }
  }

  &--h2 {
    color: $orange;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;

    @media (min-width: $tablet) {
      font-size: 45px;
      line-height: 1;
      margin-bottom: 40px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 60px;
    }
  }

  &--centered {
    text-align: center;

    @media (min-width: $desktop) {
      text-align: left;
    }
  }

  &--underline {
    padding-bottom: 10px;
    position: relative;
    display: inline-flex;
    margin-bottom: 0;
    z-index: 1000;

    @media (min-width: $tablet) {
      padding-bottom: 63px;
    }
  }

  &--underline::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 2.4px;
    background-color: $orange;

    @media (min-width: $tablet) {
      height: 8px;
      border-radius: 4px;
      bottom: -4px;
    }
  }

  &--blue {
    color: $twilight-blue;
  }
}
