.heading {
  margin-top: 0;

  &--h1 {
    color: $white;
    font-size: 36px;
  }

  &--h2 {
    color: $orange;
    font-size: 24px;
    font-weight: bold;
  }

  &--centered {
    text-align: center;
  }
}
