.location {
  background-color: $accent-yellow;
  color: $dark-blue;
  padding: 35px 0;
  position: relative;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  &--upped {
    margin-top: -30px;
    padding-top: 64px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 30px;
    z-index: 100;
    background-color: $accent-yellow;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    bottom: 0;
    left: 0;
  }

  @media (min-width: $tablet) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 85px;

    &--upped {
      margin-top: -60px;
      padding-top: 124px;
    }

    &::after {
      height: 60px;
      border-bottom-left-radius: 60px;
      border-bottom-right-radius: 60px;
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 60px;

    &--upped {
      padding-top: 119px;
    }
  }
}

.location__content-wrapper {
  @media (min-width: $tablet) {
    padding: 0 35px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 73px 0 223px;
  }
}

.location__address {
  margin-bottom: 31px;

  @media (min-width: $tablet) {
    margin-bottom: 56px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.location__button {
  padding: 20px 20px 18px 20px;
  color: $dark-blue;

  &::after {
    top: 20px;
    right: 13px;
  }

  &:hover::after,
  &:focus::after {
    border-left-color: $white;
  }

  &:active::after {
    border-left-color: rgba($white, 0.3);
  }

  &:hover,
  &:focus {
    background-color: $dark-blue;
    color: $white;
  }

  &:active {
    color: rgba($white, 0.3);
  }

  @media (min-width: $tablet) {
    padding: 27px 33px 24px 33px;

    &::after {
      top: 31px;
      right: 25px;
    }
  }

  @media (min-width: $desktop) {
    width: 324px;
  }
}
