.logo {
  display: block;
  position: relative;
}

.logo__picture {
  display: block;
}

.page-nav--white .logo::after,
.page-nav--no-js .logo::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url("../img/logo-mobile-blue@1x.png");

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/logo-mobile-blue@2x.png");
  }

  @media (min-width: $tablet) {
    background-image: url("../img/logo-tablet-blue@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/logo-tablet-blue@2x.png");
    }
  }

  @media (min-width: $desktop) {
    background-image: url("../img/logo-desktop-blue@1x.png");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/logo-desktop-blue@2x.png");
    }
  }
}

.page-nav--no-js .logo::after {
  @media (min-width: $desktop) {
    background: none;
  }
}
