.map {
  background-color: $dark-blue;
  height: 332px;

  &--upped {
    margin-top: -30px;
  }

  @media (min-width: $tablet) {
    height: 580px;

    &--upped {
      margin-top: -60px;
    }
  }

  @media (min-width: $desktop) {
    height: 515px;
  }
}
