.nav-list {
  @include list-style-reset();

  text-transform: uppercase;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  flex-wrap: wrap;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 1.18;
    text-align: left;
  }

  @media (min-width: $desktop) {
    padding-top: 5px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    display: flex;
  }
}

.nav-list__item {
  @media (min-width: $desktop) {
    margin-right: 37px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-list__link {
  color: $dark-blue;

  @media (min-width: $desktop) {
    color: $white;
  }
}

.page-nav--white .nav-list__link {
  color: $dark-blue;
}
