.our-address {
  font-weight: bold;
  font-style: normal;
  line-height: 1.38;
  color: $dark-blue;
  text-transform: uppercase;
  padding-left: 60px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 45px;
    height: 45px;
    top: -2px;
    left: 0;
    background-color: $black-blue;
    border-radius: 50%;
  }

  @media (min-width: $tablet) {
    padding-left: 95px;

    &::before {
      width: 67px;
      height: 67px;
      top: -17px;
    }

    br {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 123px;

    &::before {
      width: 90px;
      height: 90px;
      top: -27px;
      z-index: 500;
    }
  }
}
