.page-header {
  background-color: $deep-dark-blue;
  color: $white;

  &--main {
    min-height: 225px;

    @media (min-width: $tablet) {
      min-height: 994px;
    }

    @media (min-width: $desktop) {
      min-height: 750px;
    }
  }

  &--rounded {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}

.page-header__content-wrapper {
  padding-top: 97px;
  padding-bottom: 40px;
}

.page-header__content {
  padding-top: 60px;
}

.page-header__title {
  &--main {
    margin-bottom: 265px;
  }
}
