.page-nav {
  background-color: $white;
  color: $dark-blue;
  padding-top: 27px;
  padding-bottom: 40px;
}

.page-nav__wrapper {
  @media (min-width: $desktop) {
    display: flex;
  }
}

.page-nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 75px;
}

.page-nav__toggler {
  width: 19px;
  height: 19px;
  font-size: 0;
  border: none;
  background-color: $greyish-brown;

  @media (min-width: $desktop) {
    display: none;
  }
}

.page-nav__contacts {
  margin-bottom: 40px;
}

.page-nav__social {
  @media (min-width: $desktop) {
    display: none;
  }
}

.page-nav__auth-button {
  margin-bottom: 60px;
}
