.page-footer {
  background-color: $white;
  color: $greyish-brown;
  padding: 38px 0 14px 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  margin-top: -30px;
  position: relative;
  z-index: 90;

  @media (min-width: $tablet) {
    padding: 49px 0 46px 0;
    margin-top: -60px;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
  }
}

.page-footer__content-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.page-footer__social-list {
  margin-bottom: 37px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 10px;
  }

  @media (min-width: $desktop) {
    margin-right: 50px;
  }
}

.page-footer__bottom-wrapper {
  display: flex;
  padding-top: 12px;
  border-top: 1px solid rgba($black, 0.05);
  justify-content: space-between;
  align-items: center;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    padding-top: 0;
    border: none;
    margin-bottom: 0;
  }
}

.page-footer__paragraph {
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.2;
    margin-right: 24px;
  }
}
