.page-footer {
  background-color: $white;
  color: $greyish-brown;
  padding: 38px 0 24px 0;
}

.page-footer__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.page-footer__bottom-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
