.plan-step {
  background-color: $white;
  padding: 24px 24px 21px;
  border-radius: 10px;

  &--small-padding {
    padding-bottom: 10px;
  }

  @media (min-width: $tablet) {
    border-radius: 30px;
    padding: 49px 43px 55px 43px;

    &--small-padding {
      padding-bottom: 53px;
    }
  }

  @media (min-width: $desktop) {
    border-radius: 60px;
    padding: 93px 160px 104px;
  }
}

.plan-step__top {
  margin-bottom: 21px;

  &--final {
    margin-bottom: 19px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 65px;

    &--countries {
      max-width: 406px;
      margin-bottom: 33px;
    }

    &--final {
      margin-bottom: 35px;
    }
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 54px;

    &--countries {
      max-width: 100%;
      margin-bottom: 52px;
    }
  }
}

.plan-step__top--countries .plan-step__about {
  @media (min-width: $desktop) {
    max-width: 406px;
  }
}

.plan-step__top--final .plan-step__about {
  @media (min-width: $desktop) {
    max-width: 480px;
  }
}

.plan-step__title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  color: $twilight-blue;
  margin-top: 0;
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    font-size: 36px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop) {
    letter-spacing: normal;
    line-height: 1.39;
    margin-bottom: 27px;

    br {
      display: none;
    }
  }
}

.plan-step__description {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  line-height: 1.38;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.2;
    max-width: 500px;
  }

  @media (min-width: $desktop) {
    max-width: 570px;
  }
}

.plan-step__form {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop) {
    padding-top: 30px;
    margin-bottom: 20px;
    border-top: 1px solid $inputs-grey;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.plan-step__input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 21px;
  position: relative;

  &--term {
    margin-bottom: 22px;
  }

  &--checkbox {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 26px;

    &--term {
      order: 2;
      margin-bottom: 59px;
    }

    &--checkbox {
      order: 1;
      margin-bottom: 51px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      top: -26px;
      left: 0;
      background-color: $inputs-grey;
    }

    &--checkbox::before {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    align-items: center;
    width: 50%;
    margin-bottom: 0;

    &--checkbox {
      justify-content: flex-end;
      margin-bottom: 14px;
    }

    &::before {
      display: none;
    }
  }
}

.plan-step__label-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $desktop) {
    min-width: 50%;
    justify-content: space-between;
    margin-bottom: 12px;
  }
}

.plan-step__button-wrapper {
  padding: 0;

  @media (min-width: $tablet) {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.plan-step__button-next {
  border: none;
  display: flex;
  width: 100%;
  padding: 7px 0 3px;

  @media (min-width: $tablet) {
    width: 285px;
    height: 81px;
    text-align: left;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: 20px;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    padding: 20px 35px 20px;

    &::after {
      content: "";
      position: absolute;
      top: 33px;
      right: 29px;
      border: 8px solid transparent;
      border-left: 10px solid $twilight-blue;
    }

    &:active::after {
      border-left-color: rgba($twilight-blue, 0.3);
    }
  }
}

.plan-step__button-prev {
  display: flex;
  width: 100%;
  border: none;
  padding: 15px 0 0 0;

  &:hover,
  &:focus {
    opacity: 0.7;
    background-color: transparent;
  }

  &:active::before {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    width: 181px;
    padding: 0;
    text-transform: none;
    font-size: 24px;
    justify-content: flex-end;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 13px;
      left: -8px;
      border: 8px solid transparent;
      border-right: 10px solid $twilight-blue;
    }
  }
}

.plan-step__label {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.6px;
  line-height: 1;
  color: $twilight-blue;
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop) {
    min-width: 220px;
    margin-bottom: 0;
  }
}

.plan-step__label-tip {
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.6px;
  line-height: 1;
  color: rgba($twilight-blue, 0.3);
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    order: 10;
  }
}

.plan-step__number-input-wrapper {
  display: flex;
  width: 100%;
  position: relative;

  @media (min-width: $desktop) {
    width: 181px;
    margin-right: 36px;
  }
}

.plan-step__number-input-button {
  background: transparent;
  border: none;
  font-size: 0;
  padding: 0;
  position: absolute;
  width: 43px;
  height: 43px;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  opacity: 0.3;

  @media (min-width: $tablet) {
    width: 70px;
    height: 70px;
  }

  @media (min-width: $tablet) {
    width: 60px;
    height: 70px;
  }

  &--decrease {
    background-size: 14px 2px;
    background-image: url("../img/qty-minus-mobile.svg");
    left: 0;

    @media (min-width: $tablet) {
      background-size: 20px 2px;
      background-image: url("../img/qty-minus.svg");
    }
  }

  &--increase {
    background-size: 14px 14px;
    background-image: url("../img/qty-plus-mobile.svg");
    right: 0;

    @media (min-width: $tablet) {
      background-size: 20px 20px;
      background-image: url("../img/qty-plus.svg");
    }
  }

  &:hover,
  &:focus {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.1;
  }
}

.plan-step__number-input {
  display: flex;
  width: 100%;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  line-height: 0.9;
  letter-spacing: 1.5px;
  text-align: center;
  color: $twilight-blue;
  border: 1px solid $light-grey;
  border-radius: 4px;
  padding: 15px 14px 11px 17px;
  appearance: textfield;

  &::-webkit-inner-spin-button {
    appearance: none;
  }

  &::-webkit-outer-spin-button {
    appearance: none;
  }

  &:hover {
    border-color: $step-hover-violet;
  }

  &:focus {
    border-color: $deep-dark-blue;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    padding: 25px 14px 23px 17px;
  }

  @media (min-width: $desktop) {
    width: 181px;
    padding-bottom: 22px;
  }
}

.plan-step__custom-checkbox {
  display: flex;
  padding-left: 40px;
  position: relative;
  height: 25px;
  align-items: center;
  cursor: pointer;

  &::after,
  &::before {
    content: "";
    position: absolute;
  }

  &::before {
    top: -2px;
    left: 0;
    display: block;
    width: 26px;
    height: 25px;
    border: 1px solid $light-grey;
    border-radius: 4px;
  }

  &::after {
    display: none;
    width: 9px;
    height: 9px;
    top: 6px;
    left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../img/tick.svg");
  }

  &:hover::before,
  &:focus::before {
    border: 1px solid $step-hover-violet;
  }

  &:active::before {
    border-color: $intense-violet;
    background-color: $intense-violet;
  }

  &:active::after {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    height: 36px;
    padding-left: 60px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $twilight-blue;

    &::before {
      top: 0;
      width: 36px;
      height: 36px;
      background-size: 12px 12px;
    }

    &::after {
      width: 12px;
      height: 12px;
      left: 12px;
      top: 12px;
    }
  }

  @media (min-width: $desktop) {
    &::before {
      left: 3px;
    }

    &::after {
      left: 15px;
    }
  }
}

.plan-step__input-wrapper--checkbox input:checked + .plan-step__custom-checkbox::after {
  display: block;
}

.plan-step__input-wrapper--checkbox input:focus + .plan-step__custom-checkbox::before {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

.plan-step__calendar {
  margin-bottom: 23px;

  @media (min-width: $tablet) {
    margin-bottom: 46px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 57px;
  }
}

.plan-step__selects {
  padding-bottom: 26px;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    padding-top: 42px;
    padding-bottom: 50px;
    border-top: 1px solid $inputs-grey;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 137px;
      width: 1px;
      height: 100%;
      background-color: $inputs-grey;
      background-repeat: no-repeat;
      background-position: right 0 bottom 0;
      background-size: 100% 50px;
      background-image: linear-gradient(to top, white 40%, transparent);
    }
  }

  @media (min-width: $desktop) {
    padding-top: 63px;
    padding-bottom: 57px;

    &::after {
      right: 226px;
      height: 525px;
    }
  }
}

.plan-step__select-wrapper {
  display: flex;
  margin-bottom: 22px;
  position: relative;
  z-index: 10;

  &:nth-child(1n) {
    z-index: 100;
  }

  &:nth-child(2n) {
    z-index: 90;
  }

  &:nth-child(3n) {
    z-index: 80;
  }

  &::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    bottom: -15px;
    right: 52px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url("../img/small-arrow.svg");
  }

  @media (min-width: $tablet) {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    &::after {
      display: none;
    }
  }
}

.plan-step__flag-wrapper {
  display: flex;
  flex-shrink: 0;
  flex-grow: 0;
  justify-content: center;
  align-items: center;
  width: 53px;
  border: 1px solid $light-grey;
  border-radius: 4px;
  height: auto;
  background-color: transparent;
  margin-left: -1px;
  position: relative;
  z-index: 10;

  &::before {
    content: "";
    position: absolute;
    left: -4px;
    top: 17px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $twilight-blue;
    z-index: 50;
  }

  @media (min-width: $tablet) {
    border: none;
    width: auto;
    padding-left: 32px;

    &::before {
      top: 15px;
      left: 0;
      width: 15px;
      height: 15px;
    }
  }

  @media (min-width: $desktop) {
    padding-left: 0;
    padding-right: 7px;

    &::before {
      left: -49px;
    }
  }
}

.plan-step__chose-country {
  position: absolute;
  top: 100%;
  left: 0;
}

.plan-step__delete-country {
  width: 21px;
  height: 21px;
  padding: 0;
  background-color: $light-violet;
  border-radius: 50%;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 9px 9px;
  background-image: url("../img/menu-close.svg");
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 100;

  &--inactive {
    display: none;
  }

  @media (min-width: $tablet) {
    position: static;
    right: auto;
    top: auto;
    width: 22px;
    height: 22px;
    background-color: transparent;
    background-size: contain;
    opacity: 0.1;
    margin-bottom: 3px;

    &:hover,
    &:focus {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.05;
    }
  }
}

.plan-step__country-add {
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }
}

.plan-step__description-wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet) {
    padding-top: 27px;
    padding-right: 31px;
    border-top: 1px solid $inputs-grey;
  }

  @media (min-width: $desktop) {
    padding-top: 71px;
    padding-right: 0;
    margin-bottom: 10px;
  }
}

.plan-step__country-description {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 43px;

    &:last-child {
      margin-bottom: 47px;
    }
  }
}

.plan-step__country-description + .plan-step__country-description {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -269px;
    left: -13px;
    width: 2px;
    height: 281px;
    background-color: $twilight-blue;

    @media (min-width: $tablet) {
      left: auto;
      right: -29px;
      top: -240px;
      height: 266px;
      width: 3px;
    }

    @media (min-width: $desktop) {
      right: 224px;
    }
  }
}

.plan-step__description-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 13px;
  padding-left: 13px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 9px;
    left: -2px;
    background-color: $twilight-blue;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 13px;
    height: 2px;
    top: 11px;
    left: -13px;
    border-radius: 1px;
    background-color: $twilight-blue;
  }

  @media (min-width: $tablet) {
    padding: 0;
    margin-bottom: 29px;

    &::before {
      width: 15px;
      height: 15px;
      top: 17px;
      left: auto;
      right: -35px;
    }

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 29px;
    padding-right: 115px;

    &::before {
      right: 218px;
    }
  }
}

.plan-step__description-label {
  display: flex;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  color: $twilight-blue;
  position: relative;
  flex-grow: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 100%;
    background: linear-gradient(to left, white 60%, transparent);
  }

  @media (min-width: $tablet) {
    font-size: 30px;
    font-weight: bold;
    line-height: 0.6;
    letter-spacing: normal;
  }

  @media (min-width: $desktop) {
    &::after {
      display: none;
    }
  }
}

.plan-step__plan-description-wrapper {
  position: relative;
  height: 220px;
  z-index: 1;

  @media (min-width: $tablet) {
    height: 142px;
  }

  @media (min-width: $desktop) {
    width: 730px;
  }
}

.plan-step__plan-description {
  box-sizing: border-box;
  height: 220px;
  width: 100%;
  resize: none;
  border-radius: 4px;
  border: 1px solid $light-grey;
  background-color: transparent;
  padding: 9px 13px 9px 13px;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  color: $greyish-brown;
  position: relative;
  z-index: 90;

  &::placeholder {
    color: rgba($greyish-brown, 0.3);
  }

  &:hover {
    border-color: $step-hover-violet;
  }

  &:focus {
    border-color: $deep-dark-blue;
  }

  &:invalid {
    border-color: $error-input-textarea;
  }

  @media (min-width: $tablet) {
    height: 142px;
    padding: 18px 19px 18px 19px;
    font-size: 20px;
    line-height: 1.2;
  }

  @media (min-width: $desktop) {
    width: 730px;
    padding: 24px 10px 24px 23px;
  }
}

.plan-step__plan-description-invalid {
  display: none;
  position: absolute;
  width: 100%;
  height: 60px;
  padding: 10px 15px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $error-input-bg;
  color: $error-input-text;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.2;
  border-radius: 4px;

  @media (min-width: $tablet) {
    font-size: 20px;
    height: 57px;
    padding: 17px 24px 20px;
  }
}

.plan-step__plan-description:invalid ~ .plan-step__plan-description-invalid {
  display: block;
}
