.promo {
  color: $white;
  background: $deep-dark-blue url("../img/globe-back-mobile@1x.jpg")
    no-repeat left 0;
  background-size: 320px 569px;
  position: relative;
  padding-bottom: 39px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: auto;
    top: 479px;
    bottom: 0;
    background-color: $deep-dark-blue;
    z-index: -1;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    background: url("../img/globe-back-tablet@1x.jpg") no-repeat center
      bottom 180px;
    background-size: 1479px 612px;

    &::before {
      display: none;
    }

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop) {
    background: url("../img/traveller-illustration-desktop@1x.png") no-repeat left calc(50vw - 116px) bottom 0,
      url("../img/globe-back-desktop@1x.jpg") no-repeat center bottom;
    background-size: 431px 640px, 1800px 750px;
    background-color: $deep-dark-blue;
    padding-bottom: 123px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/traveller-illustration-desktop@2x.png"), url("../img/globe-back-desktop@2x.jpg");
    }
  }
}

.promo__contacts-list {
  @include list-style-reset();
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 27px;
  z-index: 100;
  position: relative;

  @media (min-width: $tablet) {
    display: none;
  }
}

.promo__contacts-item {
  max-width: 189px;
  min-height: 40px;
}

.promo__main-content-wrapper {
  @media (min-width: $desktop) {
    display: flex;
    justify-content: space-between;
    padding: 0 27px 0 10px;
    margin-bottom: 100px;
  }
}

.promo__quote-wrapper {
  z-index: 100;
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $tablet) {
    margin-bottom: 213px;
  }

  @media (min-width: $desktop) {
    padding-top: 10px;
    margin-bottom: 0;
  }
}

.promo__quote {
  display: block;
  margin: 0;
  line-height: 1.38;
  font-weight: 300;
  margin-bottom: 18px;
  padding-left: 25px;
  width: 175px;

  @media (min-width: $tablet) {
    padding-left: 35px;
    width: 295px;
    line-height: 1.18;
    margin-bottom: 45px;
  }
}

.promo__quote-author {
  display: block;
  font-weight: bold;
  font-style: normal;
  line-height: 1.38;
  padding-left: 25px;
  width: 180px;

  @media (min-width: $tablet) {
    padding-left: 35px;
    width: 290px;
    font-size: 21px;
    font-style: normal;
    line-height: 1.19;
  }
}

.promo__instruction-list {
  @include list-style-reset();
  margin: 0;
  color: $deep-dark-blue;
  border-radius: 10px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    flex-wrap: nowrap;
  }
}

.promo__instruction-item {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 23px 25px 5px 25px;
  padding-bottom: 31px;
  margin-top: -10px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  position: relative;

  &:first-child {
    background-color: $orange;
    margin-top: 0;
  }

  &:nth-child(2) {
    background-color: $orange-lighter;
  }

  &:nth-child(3) {
    background-color: $orange-yellow;
  }

  &:last-child {
    background-color: $accent-yellow;
    border-radius: 10px;
    padding-bottom: 21px;
  }

  &::before {
    content: attr(data-number);
    position: absolute;
    right: 23px;
    top: 23px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1;
    color: $white;
  }

  @media (min-width: $tablet) {
    width: 50%;
    border-radius: 0;
    padding: 31px 31px 61px 31px;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;

    &:first-child {
      border-top-left-radius: 20px;
      position: relative;
    }

    &:first-child::after {
      content: "";
      position: absolute;
      top: 0;
      right: -19px;
      width: 21px;
      height: 100%;
      background-color: $orange;
    }

    &:nth-child(2) {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }

    &:nth-child(3) {
      border-bottom-left-radius: 20px;
    }

    &:nth-child(3)::after {
      content: "";
      position: absolute;
      top: 0;
      right: -19px;
      width: 21px;
      height: 100%;
      background-color: $orange-yellow;
    }

    &:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    &::before {
      top: auto;
      left: 30px;
      bottom: 19px;
      font-size: 30px;
    }
  }

  @media (min-width: $desktop) {
    width: 25%;
    border-radius: 0;
    padding: 30px 30px 29px 35px;
    margin: 0;
    flex-shrink: 1;

    &::before {
      left: auto;
      top: 30px;
      font-size: 24px;
    }

    &:first-child {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &:first-child::before {
      right: 48px;
    }

    &:nth-child(2) {
      border-top-left-radius: 20px;
      border-top-right-radius: 0;
      border-bottom-left-radius: 20px;
      position: relative;
      margin-left: -15px;
      flex-grow: 1;
      padding-left: 29px;
    }

    &:nth-child(2)::before {
      right: 18px;
    }

    &:nth-child(2)::after {
      content: "";
      position: absolute;
      top: 0;
      right: -29px;
      width: 31px;
      height: 100%;
      background-color: $orange-lighter;
    }

    &:nth-child(3) {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      margin-left: 15px;
      width: 26%;
      padding-left: 29px;
    }

    &:nth-child(3)::before {
      right: 30px;
    }

    &:last-child {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      width: 24%;
      padding-left: 31px;
    }

    &:last-child::before {
      right: 32px;
    }
  }
}

.promo__instruction-text {
  margin: 0;
  max-width: 143px;

  @media (min-width: $tablet) {
    max-width: 185px;
  }
}
