.social {
  @include list-style-reset();
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__item {
  margin-right: 25px;

  @media (min-width: $tablet) {
    margin-right: 34px;
  }

  &:last-child {
    margin-right: 0;
  }
}
