.social-button {
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $accent-yellow;
  background-position: center;
  background-repeat: no-repeat;

  &--fb {
    background-size: 11px 21px;
    background-image: url("../../img/facebook.svg");
  }

  &--vk {
    background-size: 23px 12px;
    background-image: url("../../img/vk.svg");
  }

  &--instagram {
    background-size: 18px 18px;
    background-image: url("../../img/instagram.svg");
  }

  @media (min-width: $tablet) {
    width: 60px;
    height: 60px;

    &--fb {
      background-size: 14px 28px;
    }

    &--vk {
      background-size: 31px 16px;
    }

    &--instagram {
      background-size: 24px 24px;
    }
  }
}
