.social-link {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.2;

  &--fb {
    width: 11px;
    height: 21px;
    background-image: url("../img/facebook.svg");

    @media (min-width: $tablet) {
      width: 14px;
      height: 28px;
    }
  }

  &--vk {
    width: 23px;
    height: 12px;
    background-image: url("../img/vk.svg");

    @media (min-width: $tablet) {
      width: 31px;
      height: 16px;
    }
  }

  &--instagram {
    width: 18px;
    height: 18px;
    background-image: url("../img/instagram.svg");

    @media (min-width: $tablet) {
      width: 24px;
      height: 24px;
    }
  }
}
