.teammates-card {
  background-color: $white;
  border-radius: 20px;
  padding: 15px 18px 22px 20px;
  overflow: visible;
  position: relative;

  &:hover {
    box-shadow: 0 6px 21px 0 rgba(0, 0, 0, 0.08);
  }

  @media (min-width: $tablet) {
    padding: 33px 25px 24px 35px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    width: 948px;
    min-width: 948px;
    padding: 0 44px 0 0;
    align-items: flex-start;
  }
}

.teammates-card__image-wrapper {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;

  @media (min-width: $tablet) {
    width: 190px;
    height: 190px;
    border-radius: 20px;
    margin-top: 2px;
    margin-right: 35px;
  }

  @media (min-width: $desktop) {
    width: 285px;
    height: 285px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 61px;
    margin-top: 0;
  }
}

.teammates-card__picture {
  display: block;
  transition: transform 0.3s ease-out;

  @media (min-width: $tablet) {
    width: 190px;
    height: 190px;
  }

  @media (min-width: $desktop) {
    width: 285px;
    height: 285px;
  }
}

.teammates-card:hover .teammates-card__picture {
  transform: scale(1.05);
  transition: transform 0.3s ease-out;
}

.teammates-card__info-wrapper {
  @media (min-width: $desktop) {
    padding-top: 47px;
    margin-right: 31px;
  }
}

.teammates-card__name-link {
  display: flex;
  width: 90px;

  @media (min-width: $tablet) {
    width: 300px;
  }
}

.teammates-card__name {
  display: inline-flex;
  color: $twilight-blue;
  line-height: 1.05;
  margin-top: -70px;
  margin-left: 85px;
  margin-bottom: 45px;
  position: relative;

  &:hover,
  &:focus {
    color: rgba($twilight-blue, 0.6);
  }

  &:active {
    color: rgba($twilight-blue, 0.3);
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -70px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
  }

  &--offline::after {
    background-color: $offline-red;
  }

  &--online::after {
    background-color: $online-green;
  }

  @media (min-width: $tablet) {
    font-size: 30px;
    margin: 0;
    margin-bottom: 15px;

    &::after {
      width: 7px;
      height: 7px;
      top: 11px;
      right: -28px;
    }
  }

  @media (min-width: $desktop) {
    &::after {
      top: 11px;
      right: auto;
      left: -28px;
    }
  }
}

.teammates-card__hashtags {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.2;
  text-align: left;
  color: $greyish-brown;
  padding-left: 5px;
  width: 175px;
  margin-top: 0;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    padding-left: 0;
    margin: 0;
    font-size: 20px;
    width: 230px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 50px;
  }
}

.teammates-card__wishlist {
  width: 100%;
  padding-left: 5px;
  position: relative;
  margin-bottom: 10px;
  min-height: 90px;

  @media (min-width: $tablet) {
    order: 50;
    margin-bottom: 0;
    min-height: auto;
    margin-top: 22px;
    padding-left: 0;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
    width: auto;
    padding-top: 51px;
    padding-bottom: 50px;
    margin-bottom: 50px;
  }
}

.teammates-card__titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.teammates-card__title {
  display: flex;
  margin: 0;
  font-size: 15px;
  line-height: 1.2;
  color: $greyish-brown;
  text-transform: lowercase;
  position: relative;

  &--transport {
    margin-left: 5px;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      height: 1px;
      background-color: $light-violet;
    }

    &::before {
      width: 14px;
      left: -27px;
    }

    &::after {
      width: 91px;
      right: -103px;
    }
  }

  &--level {
    margin-right: 5px;

    &::before {
      content: "";
      position: absolute;
      top: 8px;
      height: 1px;
      background-color: $light-violet;
      width: 14px;
      right: -23px;
    }
  }

  &--wishlist {
    margin-bottom: 14px;
    z-index: 10;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 8px;
      height: 1px;
      background-color: $light-violet;
    }

    &::before {
      width: 14px;
      left: -27px;
    }

    &::after {
      width: 138px;
      right: -27px;
    }

    @media (min-width: $tablet) {
      padding-left: 47px;
      margin-bottom: 16px;

      &::before {
        content: "";
        position: absolute;
        width: 111px;
        height: 1px;
        background-color: $light-violet;
        top: 8px;
        left: -75px;
      }

      &::after {
        content: "";
        position: absolute;
        width: 510px;
        height: 1px;
        background-color: $light-violet;
        top: 8px;
        right: -35px;
      }
    }
  }

  @media (min-width: $desktop) {
    display: none;
  }
}

.teammates-card__all-countries {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
  }
}

.teammates-card__wishlist-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  position: relative;

  &:nth-child(1n) {
    z-index: 10;
  }

  &:nth-child(2n) {
    z-index: 5;
  }

  &:nth-child(3n) {
    z-index: 1;
  }

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-right: 30px;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
    margin-bottom: 13px;
  }

  &:last-child {
    margin-bottom: 0;

    @media (min-width: $tablet) {
      margin-right: 0;
    }
  }
}

.teammates-card__flag {
  width: 26px;
  height: 18px;
  margin-right: 15px;
  margin-bottom: 5px;

  @media (min-width: $tablet) {
    width: 35px;
    height: 24px;
    border-radius: 0;
    margin-bottom: 0;
    margin-right: 10px;
  }

  @media (min-width: $desktop) {
    margin-right: 20px;
  }
}

.teammates-card__wishlist-description {
  margin: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  color: $twilight-blue;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    margin-top: 3px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}

.teammates-card__transport-and-level {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: column;
    margin-left: auto;
    justify-content: flex-start;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    margin-bottom: 0;
    order: 100;
    margin-left: auto;
    margin-right: 15px;
    margin-top: 0;
    justify-content: space-between;
    position: absolute;
    bottom: 47px;
    right: 44px;
  }
}

.teammates-card__transport-wrapper {
  @include list-style-reset();
  margin: 0;
  margin-left: 5px;
  display: flex;
  position: relative;

  @media (min-width: $tablet) {
    flex-direction: column;
    margin-left: 0;
    margin-right: 15px;
    margin-bottom: 22px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    margin-right: 56px;
    margin-bottom: 4px;
  }
}

.teammates-card__transport {
  display: flex;
  font-size: 0;
  width: 33px;
  height: 32px;
  border-radius: 50%;
  background-color: $light-violet;
  position: relative;

  &--active {
    svg {
      fill: $twilight-blue;
      opacity: 1;
      z-index: 0;
    }
  }

  &::before,
  &::after {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 110;
  }

  &::before {
    bottom: -72px;
    border-radius: 4px;
    background-color: $tooltip-blue;
    padding: 19px 28px 18px 24px;
    color: $white;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    white-space: nowrap;
  }

  &::after {
    bottom: -12px;
    border: 8px solid transparent;
    border-bottom-color: $tooltip-blue;
  }

  &:hover::before,
  &:hover::after {
    display: block;
  }

  @media (min-width: $tablet) {
    background-color: transparent;
  }
}

.teammates-card__transport-icon {
  opacity: 0.15;
  position: absolute;

  &--plane {
    top: 8px;
    left: 8px;
  }

  &--bus {
    top: 9px;
    left: 10px;
  }

  &--bike {
    top: 8px;
    left: 7px;
  }

  &--run {
    top: 8px;
    left: 9px;
  }

  @media (min-width: $tablet) {
    &--plane {
      width: 19px;
      height: 21px;
      top: 5px;
      left: 5px;
    }

    &--bus {
      width: 17px;
      height: 21px;
      top: 5px;
      left: 7px;
    }

    &--bike {
      width: 24px;
      height: 21px;
      top: 5px;
      left: 5px;
    }

    &--run {
      width: 20px;
      height: 21px;
      top: 5px;
      left: 5px;
    }
  }
}


.teammates-card__level {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-size: 24px;
  font-weight: bold;
  line-height: 0.75;
  margin-right: 10px;
  margin-top: 5px;
  color: $twilight-blue;
  position: relative;

  @media (min-width: $tablet) {
    margin-top: 0;
    padding-bottom: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $desktop) {
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 4px;
    margin-left: 3px;
  }
}

.teammates-card__level-percent {
  transform: rotate(-90deg);
  position: absolute;
  top: -16px;
  left: -10px;

  @media (min-width: $tablet) {
    width: 65px;
    height: 65px;
    left: -20px;
    top: -18px;
    stroke-width: 3px;
  }

  @media (min-width: $desktop) {
    left: -17px;
  }
}

.teammates-card__level-number {
  margin-bottom: 2px;

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.teammates-card__level-description {
  display: none;

  @media (min-width: $tablet) {
    display: flex;
    color: rgba($greyish-brown, 0.4);
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    padding-top: 2px;
    border-top: 1px solid rgba($black, 0.1);
  }
}

.teammates-card__button-and-like {
  @media (min-width: $tablet) {
    display: flex;
    align-items: flex-start;
    order: 10;
    margin-left: 220px;
    margin-top: -50px;
  }

  @media (min-width: $desktop) {
    margin-left: 0;
    margin-top: 0;
    position: absolute;
    bottom: 47px;
    left: 342px;
    order: 50;
  }
}

.teammates-card__like-wrapper {
  display: flex;
  align-items: center;
  margin-left: 46px;
  margin-top: -35px;
  position: absolute;
  top: 90px;
  left: 21px;

  @media (min-width: $tablet) {
    margin: 0;
    position: static;
    top: auto;
    left: auto;
  }
}

.teammates-card__like {
  display: flex;
  padding: 0;
  flex-shrink: 0;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  background-color: $light-violet;
  font-size: 0;
  border: none;
  margin-right: 7px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 13px;
    height: 11px;
    top: 10px;
    left: 9px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../img/heart.svg");
    opacity: 0.3;

    @media (min-width: $tablet) {
      width: 20px;
      height: 17px;
      top: 16px;
      left: 15px;
    }
  }

  &:hover,
  &:focus {
    background-color: $intense-violet;
  }

  &:hover:not(&--active)::before,
  &:focus:not(&--active)::before {
    opacity: 0.5;
  }

  &:active:not(&--active)::before {
    opacity: 0.1;
  }

  &--active {
    background-color: $like-pink;
  }

  &--active:hover,
  &--active:focus {
    background-color: $hover-like-pink;
  }

  &--active::before {
    background-image: url("../img/heart-active.svg");
    opacity: 1;
  }

  &--active:active::before {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    width: 50px;
    height: 50px;
  }
}

.teammates-card__likes-number {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  color: $deep-dark-blue;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
  }
}

.teammates-card__button-wrapper {
  margin-top: 21px;
  width: 100%;

  @media (min-width: $tablet) {
    width: 148px;
    margin: 0;
    margin-left: 0;
  }
}

.teammates-card__button {
  width: 100%;
  height: 40px;

  @media (min-width: $tablet) {
    height: 50px;
  }
}
