.teammates {
  background-color: $dark-blue;
  color: $white;
  padding: 29px 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;

  &::before {
    width: 320px;
    height: 100%;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    z-index: 5;
    background: url("../img/smolov-back-desktop@1x.png") no-repeat right 25px top 69px, url("../img/rectangle-bg-blue.svg") no-repeat left -30px top 69px, url("../img/rogovaya-back-mobile@1x.png") no-repeat left -10px top 340px;
    background-size: 143px 143px, 143px 143px, 71px 71px;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/smolov-back-desktop@2x.png"), url("../img/rectangle-bg-blue.svg"), url("../img/rogovaya-back-mobile@2x.png");
    }
  }

  &--upped {
    margin-top: -30px;
    padding-top: 100px;

    @media (min-width: $tablet) {
      margin-top: -60px;
      padding-top: 201px;
    }

    @media (min-width: $desktop) {
      padding-top: 188px;
    }
  }

  @media (min-width: $tablet) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    padding-bottom: 88px;

    &::before {
      width: 768px;
      background: url("../img/rogovaya-back-desktop@1x.png") no-repeat right 77px top 140px, url("../img/rectangle-bg-blue.svg") no-repeat left 40px top 140px, url("../img/smolov-back-desktop@1x.png") no-repeat left 40px top 486px;
      background-size: 285px 285px, 213px 213px, 143px 143px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("./../img/rogovaya-back-desktop@2x.png"), url("../img/rectangle-bg-blue.svg"), url("../img/smolov-back-desktop@2x.png");
      }
    }
  }

  @media (min-width: $desktop) {
    padding-bottom: 130px;

    &::before {
      width: 1440px;
      background: url("../img/rogovaya-back-desktop@1x.png") no-repeat left 191px bottom 80px, url("../img/rectangle-bg-blue.svg") no-repeat left 60px top 128px, url("../img/smolov-back-desktop@1x.png") no-repeat left 547px top 194px;
      background-size: 285px 285px, 213px 213px, 143px 143px;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("./../img/rogovaya-back-desktop@2x.png"), url("../img/rectangle-bg-blue.svg"), url("../img/smolov-back-desktop@2x.png");
      }
    }
  }
}

.teammates__common-wrapper {
  @media (min-width: $tablet) {
    padding: 0 35px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
  }
}

.teammates__content-wrapper {
  padding: 0 25px;
  margin-bottom: 57px;

  @media (min-width: $tablet) {
    padding: 0;
  }

  @media (min-width: $desktop) {
    width: 50%;
    padding: 0 30px 83px 70px;
    margin-bottom: 0;
  }
}

.teammates__heading {
  @media (min-width: $tablet) {
    margin-bottom: 58px;
  }
}

.teammates__text {
  @media (min-width: $tablet) {
    width: 450px;
    margin-top: 0;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 42px;
  }
}

.teammates__bold-text {
  @media (min-width: $tablet) {
    margin-bottom: 60px;
  }
}

.teammates__preview-wrapper {
  margin-bottom: 20px;
  position: relative;
  z-index: 1000;

  @media (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop) {
    width: 50%;
    margin: 0;
    padding: 5px 0 0 30px;
    align-items: stretch;
    align-content: stretch;
  }
}

.teammates__item {
  margin-bottom: 10px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.teammates__button-wrapper {
  @media (min-width: $desktop) {
    margin-bottom: 0;
    margin-top: -85px;
    padding-left: 70px;
    width: 350px;
  }
}
