.teammate-search-form {
  width: 100%;
  padding: 26px;
  background-color: $accent-yellow;
  border-radius: 20px;
}

.teammate-search-form__title {
  color: $twilight-blue;
  font-size: 22.5px;
  line-height: 1;
}

.teammate-search-form__button {
  border: none;
}
