.teammate-search-form {
  width: 100%;
  padding: 27px 0 22px 0;
  background-color: $accent-yellow;
  border-radius: 20px;

  @media (min-width: $tablet) {
    padding: 37px 15px 37px 35px;
  }

  @media (min-width: $desktop) {
    width: 285px;
    padding: 47px 41px 47px 46px;
  }
}

.teammate-search-form__title {
  color: $twilight-blue;
  font-size: 23px;
  line-height: 1;
  margin-bottom: 19px;

  @media (min-width: $tablet) {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 29px;
  }
}

.teammate-search-form__content-wrapper {
  padding: 0 26px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.teammate-search-form__button-wrapper {
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0;
    padding-right: 20px;
  }

  @media (min-width: $desktop) {
    padding-right: 0;
  }
}

.teammate-search-form__button {
  display: flex;
  border: none;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: $white;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  }

  &:active {
    background-color: $accordion-yellow;
    color: rgba($deep-dark-blue, 0.3);
  }

  @media (min-width: $tablet) {
    height: 50px;
  }
}
