.text {
  font-weight: 300;
  line-height: 1.38;
  margin-bottom: 21px;
  color: inherit;

  @media (min-width: $tablet) {
    font-size: 28px;
    line-height: 1.18;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 37px;
  }

  &--bold {
    font-weight: bold;

    @media (min-width: $tablet) {
      font-size: 21px;
      line-height: 1.19;
      margin-bottom: 55px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 85px;
    }
  }

  &--white {
    color: $white;
  }
}
