.user-plans {
  background-color: $violet;
  padding: 29px 0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.user-plans__list {
  @include list-style-reset();
}

.user-plans__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}
