.user-information {
  padding-top: 23px;

  @media (min-width: $tablet) {
    padding-top: 65px;
    padding-bottom: 52px;
  }

  @media (min-width: $desktop) {
    padding-bottom: 65px;
  }
}

.user-information__common-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 35px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 64px;
    padding-right: 0;
    margin-bottom: 0;
  }
}

.user-information__top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  padding: 0 17px;

  @media (min-width: $tablet) {
    padding: 0;
    margin-bottom: 50px;
    order: 2;
  }

  @media (min-width: $desktop) {
    justify-content: flex-end;
    margin-left: auto;
    margin-top: -320px;
    margin-right: 94px;
    margin-bottom: 0;
    position: relative;
    z-index: 1000;
  }
}

.user-information__image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;

  @media (min-width: $tablet) {
    width: 94px;
    height: 94px;
    border-radius: 7px;
  }

  @media (min-width: $desktop) {
    width: 190px;
    height: 190px;
    margin-left: 46px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.user-information__picture {
  display: block;
  height: auto;

  @media (min-width: $desktop) {
    width: 190px;
    height: 190px;
  }
}

.user-information__level {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  padding-top: 6px;
  position: relative;

  @media (min-width: $desktop) {
    width: 94px;
    height: 94px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

.user-information__level-percent {
  position: absolute;
  top: 0;
  left: 2px;
  transform: rotate(-90deg);

  @media (min-width: $tablet) {
    width: 94px;
    height: 94px;
    top: 2px;
    left: 0;
  }
}

.user-information__level-number {
  font-size: 38px;
  font-weight: bold;
  line-height: 1;
  color: $deep-dark-blue;
  position: relative;

  @media (min-width: $desktop) {
    color: $white;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 3px;
    left: -3px;
    width: 49px;
    height: 2px;
    background-color: $light-grey;
  }
}

.user-information__level-description {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.22;
  color: $greyish-brown;

  @media (min-width: $desktop) {
    color: $white;
  }
}

.user-information__upload-photo {
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    order: 3;
    width: 100%;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 27px;
    padding-right: 94px;
    margin-top: -66px;
  }
}

.user-information__button {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 40px;
  color: $twilight-blue;

  &:hover,
  &:focus {
    background-color: $upload-photo-hover;
  }

  &:active,
  &:active .user-information__button-hidden-text {
    color: rgba($twilight-blue, 0.3);
  }

  @media (min-width: $tablet) {
    height: 60px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop) {
    width: 190px;
    height: 47px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.user-information__button-hidden-text {
  color: $twilight-blue;

  @media (min-width: $desktop) {
    display: none;
  }
}

.user-information__wrapper {
  margin-bottom: 22px;
  position: relative;

  @media (min-width: $tablet) {
    order: 4;
    width: 100%;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    width: 730px;
    min-height: 94px;
    height: 94px;
  }

  &--transport {
    padding: 15px 24px 13px;
    margin-bottom: 33px;
    border-radius: 10px;
    border: 1px solid $light-grey;

    @media (min-width: $tablet) {
      order: 1;
      width: 308px;
      margin-bottom: -96px;
      padding: 25px 25px 24px;
    }

    @media (min-width: $desktop) {
      order: 10;
      margin: 0;
      width: 384px;
      height: auto;
    }
  }
}

.user-information__title {
  margin: 0;
  padding: 0 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: $twilight-blue;
  line-height: 1.13;
  position: absolute;
  z-index: 10;
  background-color: $light-violet;
  top: -8px;
  left: 50%;
  transform: translate(-50%, 0);

  @media (min-width: $tablet) {
    padding: 0 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
    top: auto;
    bottom: -10px;

    &--tags {
      bottom: -3px;
    }
  }

  @media (min-width: $desktop) {
    &--tags {
      bottom: -11px;
      left: 18px;
      transform: none;
    }
  }
}

.user-information__textfield {
  width: 100%;
  height: 100%;
  background-color: transparent;
  resize: none;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.38;
  text-align: left;
  color: $greyish-brown;
  border-radius: 10px;
  border: 1px solid $light-grey;
  padding: 22px 24px 21px;

  &::placeholder {
    color: ($greyish-brown, 0.6);
  }

  &:hover {
    border: 1px solid $hover-violet;
  }

  &:focus {
    border-color: $deep-dark-blue;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1.2;
    padding: 34px 38px 8px;
  }
}

.user-information__transport-wrapper {
  @include list-style-reset();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
}

.user-information__transport-item {
  position: relative;

  &::before,
  &::after {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }

  &::before {
    content: attr(data-tooltip);
    bottom: -72px;
    border-radius: 4px;
    background-color: $tooltip-blue;
    padding: 19px 28px 18px 24px;
    color: $white;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    white-space: nowrap;
  }

  &::after {
    content: "";
    bottom: -12px;
    border: 8px solid transparent;
    border-bottom-color: $tooltip-blue;
  }

  &:hover::before,
  &:hover::after {
    display: block;
  }

  @media (min-width: $tablet) {
    margin-right: 8px;

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: $desktop) {
    margin-right: 0;
  }
}

.user-information__transport-item input:checked + .user-information__transport-type svg {
  opacity: 1;
  fill: $twilight-blue;
}

.user-information__transport-item input:focus + .user-information__transport-type {
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}
