/* Размеры экрана */
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

/* Цвета */
$white: #ffffff;
$black: #000000;
$grey: #cccccc;
$light-grey: #cbced9;
$dot-grey: #808285;
$border-grey: #eff0f4;
$inputs-grey: #d6d9e6;
$tender-violet: #f3f4f8;
$light-violet: #edeff6;
$intense-violet: #e2e5f2;
$violet: #dfe3f0;
$dark-violet: #d4d9eb;
$intense-dark-violet: #d6daed;
$upload-photo-hover: #d1d7e9;
$hover-violet: #aeb4cb;
$filter-button-hover: #c8cee8;
$step-hover-violet: #959bb2;
$black-blue: #121936;
$deep-dark-blue: #161c36;
$dark-blue: #192144;
$space-blue: #182044;
$tooltip-blue: #101d41;
$rectangle-blue: #141b3b;
$twilight-blue: #1d2e5b;
$business-blue: #132576;
$orange: #ff8d30;
$orange-intense: #f26926;
$orange-lighter: #ffa530;
$orange-yellow: #ffbd30;
$accent-yellow: #ffd74b;
$border-yellow: #a88f48;
$accordion-yellow: #f3c72b;
$greyish-brown: #444444;
$coral-red: #ff5c23;
$error-input-bg: #ffefef;
$like-pink: #f9eaea;
$hover-like-pink: #f9d8d8;
$error-input-textarea: #f47e7e;
$error-input-text: #ff0000;
$offline-red: #f97676;
$online-green: #81e31e;
