/* Размеры экрана */
$mobile: 320px;
$tablet: 768px;
$desktop: 1440px;

/* Цвета */
$white: #ffffff;
$black: #000000;
$light-grey: #cbced9;
$tender-violet: #f3f4f8;
$light-violet: #edeff6;
$intense-violet: #e2e5f2;
$black-blue: #121936;
$deep-dark-blue: #161c36;
$dark-blue: #192144;
$twilight-blue: #1d2e5b;
$orange: #ff8d30;
$orange-lighter: #ffa530;
$orange-yellow: #ffbd30;
$accent-yellow: #ffd74b;
$greyish-brown: #444444;
